# Python version
python>=3.10, <3.11

# PyTorch
--index-url https://download.pytorch.org/whl/cu118
torch==2.1.2+cu118
torchaudio
torchvision

# Streamlit and related packages
streamlit
streamlit-image-coordinates
streamlit-authenticator

# Other dependencies
shapely
ultralytics

# CUDA == '11.8'
# cuDNN == v8.9.6 (November 1st, 2023), for CUDA 11.x
